<div class="container">
  {{ password }}
  <button type="button" (click)="keyClick('0')">0</button>
  <button type="button" (click)="keyClick('1')">1</button>
  <button type="button" (click)="keyClick('2')">2</button>
  <button type="button" (click)="keyClick('3')">3</button>
  <button type="button" (click)="keyClick('4')">4</button>
  <button type="button" (click)="keyClick('5')">5</button>
  <button type="button" (click)="keyClick('6')">6</button>
  <button type="button" (click)="keyClick('7')">7</button>
  <button type="button" (click)="keyClick('8')">8</button>
  <button type="button" (click)="keyClick('9')">9</button>
</div>
